.boddy {
    max-width: 350px;
    margin: 0 auto;
    font-family: english-grotesque, sans-serif;
    font-weight: 100;
    font-style: normal;
}

/*header*/

.head{
    overflow: hidden;
    background-color: #011936;
    height: 60px;
    position: sticky;
    top: 0;
    background-size: cover;
}

.log_out{
    text-decoration: none;
    color: white;
    text-align: center;
    float: right;
    margin-top: 5px;
    margin-bottom: -10px;
    background-color: #e77728;
    padding: 10px 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.text_log{
    margin: -5px;
}

.logo{
    width: 35%;
    margin-top: 6px;
    margin-left: 6px;
}


/*footer-nav*/

.foot{
    background-color: #011936;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 350px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.icon{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.iconsize{
        height: 30px;
}

/*contact*/

.phone{
    position: fixed;
    width: 350px;
    top: 70%;
}

.contact{
    background-color: #6391c9;
    height: 60px;
    width: 60px;
    float: right;
    border-radius: 30% 0 0 30%;
}

.phoneicon{
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 15px;
}

/*news*/

.news_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; 
    padding-bottom: 50px;
}

.sep_news{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    text-decoration: none;
    background-color: #d9d9e6;
    border-radius: 20px;
}

.header{
    text-align: center;
    font-weight: 800;
    color: #e77728;
}

.subhead{
    margin-bottom: -10px;
    font-weight: 500;
    color: #011936;
    font-size: 17px;
}

.date{
    text-align: right;
    color: #011936;
}

.newt{
    color: #6391c9;
}